@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Bold.ttf);
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Medium.ttf);
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Regular.ttf);
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-SemiBold.ttf);
    font-weight: 600;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
    font-family: 'Poppins', sans-serif;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-style: normal;
}

body {
    background: url('../images/bg-intro-mobile.png') no-repeat hsl(0, 100%, 74%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Header*/

header {
    margin: 88px 24px 64px;
    text-align: center;
}

h1 {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.291667px;
    color: #FFFFFF;
    margin-bottom: 16px;
    height: 80px;
    max-width: 400px;
}

header p {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    max-width: 400px;
}

/*Main*/

main {
    margin: 0 24px 64px;
}

h2 {
    background: #5E54A4;
    border-radius: 10px;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.267857px;
    color: #FFFFFF;
    padding: 18px 68px 18px 67px;
    width: 327px;
}

h2 span {
    font-weight: 600;
}

/*Section*/

section {
    padding: 24px;
    background: #FFFFFF;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
    border-radius: 10px;
    width: 327px;
}

input {
    border-radius: 5px;
    width: 279px;
    font-weight: 600;
    line-height: 26px;
    transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}

.input-container {
    position: relative;
}

.info-input {
    background: #FFFFFF;
    margin-bottom: 16px;
    border: 1px solid #DEDEDE;
    font-size: 14px;
    letter-spacing: 0.25px;
    color: #3D3B48;
    padding: 14px 19.41px;
}

label {
    font-style: italic;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    text-align: right;
    color: #FF7979;
    position: absolute;
    right: 0;
    top: 62px;
    display: none;
}

.error {
    position: absolute;
    right: 27px;
    top: 16px;
    display: none;
}

.info-input::placeholder {
    opacity: 0.75;
}

.info-input:hover, .info-input:focus-visible {
    border: 1px solid #5E54A4;
    outline: none;
}

.submit-input {
    background: #38CC8B;
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
    font-size: 15px;
    letter-spacing: 1px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 15px 19.41px;
    margin-bottom: 8px;
    cursor: pointer;
}

.submit-input:hover, .submit-input:focus-visible {
    background: #77E2B3;
}

section p {
    font-weight: 500;
    font-size: 11px;
    line-height: 21px;
    color: #BAB7D4;
    text-align: center;
    height: 42px;
    width: 249px;
    margin: 0 auto;
}

section p span {
    font-weight: 700;
    color: #FF7979;
}

@media only screen and (min-width: 376px) {
    body{
        background: url('../images/bg-intro-desktop.png') repeat hsl(0, 100%, 74%);
    }
}

@media only screen and (min-width: 900px) {
    body{
        flex-direction: row;
        justify-content: center;
        min-height: 100vh;
    }

    header {
        text-align: left;
        margin: 0 45px 0 0;
    }

    main {
        margin: 0;
    }
}

@media only screen and (min-width: 1440px) {
    /*Header*/

    h1 {
        font-size: 50px;
        line-height: 55px;
        letter-spacing: -0.520833px;
        height: 131px;
        max-width: 525px;
        margin-bottom: 11px;
    }

    header p {
        max-width: 525px;
    }

    /*Main*/

    h2 {
        width: 540px;
        padding: 17px 0;
    }

    /*Section*/

    section {
        padding: 40px;
        width: 540px;
    }

    input {
        width: 460px;
    }

    .info-input {
        margin-bottom: 20px;
        padding: 14px 32px;
    }

    section p {
        line-height: 26px;
        width: 369px;
        height: 26px;
    }
}